{% extends 'base_site.html' %}
{% load bootstrap3 %}
{% block content_apps %}
<div class="col-xs-12 col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">Filiais cadastradas
        </div>
    <div class="panel-body">
        {% if object_list %}
        <table class="table" id="TableList">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Razão Social</th>
                    <th>Estado</th>
                    <th>CNPJ</th>
                    <th>Data de criação</th>
                    <th>Data de atualização</th>
                </tr>
            </thead>
            <tbody>
            {% for branch in object_list %}
                <tr>
                    <td>{{ branch.id }}</td>
                    <td>{{ branch.razao_social }}</td>
                    <td>{{ branch.estado }}</td>
                    <td>{{ branch.creation_time|date:"d/m/Y H:i" }}</td>
                    <td>{{ branch.modification_time|date:"d/m/Y H:i" }}</td>
                    <td>
                        <button class="btn btn-default" id="button-update-modal" onclick="GetUpdate({{branch.id}})">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="btn btn-default" id="remove" onclick="PostRemove({{branch.id}})">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div> 
</div>
</div>

<div class="modal fade" id="ModalCreateForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cadastro</h4>
            </div>
            <form method="POST" role="form" enctype="multipart/form-data" action="/filiais/create/">
                {% csrf_token %}
                    <div class="modal-body" id="FormCreate">
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Salvar" class="btn">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Create Form-->


<div class="modal fade" id="ModalCreateBranchForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cadastro</h4>
            </div>
            <form method="POST" role="form" enctype="multipart/form-data" action="/filiais/create/">
                {% csrf_token %}
                    <div class="modal-body" id="BranchFormCreate">
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Salvar" class="btn">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Create Form-->



<div class="modal fade" id="ModalUpdateForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Alterar Item</h4>
                </div>
            <form id="UpdateForm" method="POST" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body" id="ModalUpdateFormBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Salvar" class="btn">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Create Form-->
<form id="remove_form" action="" method="POST">
    {% csrf_token %}
</form>
<script>
$('#ModalCreateBranchForm').on('show.bs.modal', function(e){
    $.get('/filiais/create/', function(data){
        $("#BranchFormCreate").html( data );
    });
});
$('#ModalCreateForm').on('show.bs.modal', function(e){
    $.get("/create/", function(data){
        $("#FormCreate").html( data );
        $('#id_date_vencimento').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            icons: {
                time: "icon-time",
                date: "icon-calendar",
                up: "icon-arrow-up",
                down: "icon-arrow-down"
            }
        });
        $('#id_date_emissao').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            icons: {
                time: "icon-time",
                date: "icon-calendar",
                up: "icon-arrow-up",
                down: "icon-arrow-down"
            }
        });
    });
});
</script>
<script type="text/javascript">
    function GetUpdate(id){
        var url = "/filiais/update/"+ id + "/"
        $.get(url, function(data){
            $('#ModalUpdateFormBody').html(data);
            $('#id_date_vencimento').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                icons: {
                    time: "icon-time",
                    date: "icon-calendar",
                    up: "icon-arrow-up",
                    down: "icon-arrow-down"
                }
            });
            $('#id_date_emissao').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                icons: {
                    time: "icon-time",
                    date: "icon-calendar",
                    up: "icon-arrow-up",
                    down: "icon-arrow-down"
                }
            });
        })
        $('#UpdateForm').attr('action', url);
        $('#ModalUpdateForm').modal('show');
    }
</script>
<script type="text/javascript">
    function PostRemove(id){
        var id = "/filiais/delete/"+ id + "/";
        bootbox.confirm("Tem certeza que deseja remover este item?", function(result){
            if(result && result != null && result != undefined){
                $('#remove_form').attr("action", id).submit()
            }
        });
    }
</script>
{% endblock %}
